<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{DD-MM-YYYY HH:mm:ss} [%t] %highlight{%5p}{INFO=#90EE90,
            WARN=yellow bright,
            ERROR=red bright,
            FATAL=red bright,
            DEBUG=cyan bright} %c{1}::%M:%L - %m%n" />
        </Console>
        <File name="FileAppender" fileName="logs/application.log">
            <PatternLayout pattern="%d{DD-MM-YYYY HH:mm:ss} [%t] %highlight{%5p}{INFO=#90EE90,
            WARN=yellow bright,
            ERROR=red bright,
            FATAL=red bright,
            DEBUG=cyan bright} %c{1}::%M:%L - %m%n" />
        </File>

    </appenders>

    <loggers>
        <root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
        </root>
    </loggers>
</Configuration>